




<div class="card shadow mb-2">
    <img src="@($"https://dummyimage.com/600x350/ced4da/6c757d")" class="card-img-top" alt="Category thumbnail image" />
    <div class="card-body">
        <h3 class="card-title">@Category.Name</h3>
        <p class="card-text">@Category.Description</p>
        <h3 class="card-title">@Car.Make</h3>
        <p class="card-text">@Car.Model</p>
    </div>

    <a href="/" class="btn btn-primary stretched-link">Click</a>
</div>

@code
{
    [Parameter] public Category Category { get; set; }
    [Parameter] public Car Car { get; set; }
}

