@page "/profile"
@using System.Net;
@using Client.Components.Public.Warp
@using Client.Providers
@using Client.Services
@using System.Net.Http.Json;
@using System.Net.Http.Headers
@using global::Shared.Models;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.IdentityModel.Tokens;
@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@using System.Text;
@using Blazored.LocalStorage


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />


</head>



<PageTitle>Warp</PageTitle>

<body class="d-flex flex-column h-100">


    <!--The div element for the map -->
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <a href="#" class="nav-link">
                    <div class="nav-profile-image">
                        <!--<img src="" alt="profile">-->
                        <span class="login-status online"></span>
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                        <span class="font-weight-bold mb-2">Admin</span>

                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <span class="menu-title">Profile</span>
                    <i class="mdi mdi-home menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/cars">
                    <span class="menu-title">Account</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-car-connected menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/booking">
                    <span class="menu-title">History</span>
                    <i class="mdi mdi-contacts menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <span class="menu-title">Edit Profile</span>
                    <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                </a>
            </li>
        </ul>
    </nav>
    <main class="flex-shrink-0">

        <div id="map"></div>

        <div class="container px-5 my-2">

            <div class="row gx-5">
                @if (_book != null)
                {

                    <div class="py-4">
                        <div class=" row form-group ">
                            <div class="col-6 offset-3 ">
                                <div class="card border">
                                    <div class="card-body px-lg-5 pt-4">

                                        <h3 class="card-title">Make: @_book.StopTime</h3>
                                        <h3 class="card-title">Make: @_book.Location</h3>
                                        <h3 class="card-title">Make: @_book.UserEmail</h3>
                                        @*<h3 class="card-title">Make: @_car.Location</h3>*@
                                        <p class="card-text">Amount Due: $@_cost</p>

                                        <button onclick="@EndBooking()" class="btn btn-success shadow d-block mt-5 md-f-size-1-5">
                                            <i class="far fa-save"></i> End Booking
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <!-- Core theme JS-->

</body>



@code {

    [Inject] HttpClient HttpClient { get; set; }
    [Inject] ILocalStorageService LocalStorageService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] InMemoryDatabaseCache InMemoryDatabaseCache { get; set; }
    [Inject] AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Parameter] public string Id { get; set; }
    [CascadingParameter] protected Task<AuthenticationState>? AuthenticationState { get; set; }

    private bool _attemptingToUpdate { get; set; } = false;
    private bool _attemptToUpdateFailed { get; set; } = false;
    private bool _updateSuccessful { get; set; } = false;
    List<Car> _cars = new List<Car>();
    List<AppUser> _users = new List<AppUser>();
    List<Booking> _bookings = new List<Booking>();
    AppUser _user = new AppUser();
    Car _car = new Car();
    double _cost = 0;

    TimeSpan elapsed = new TimeSpan();

    BookingDTO ThisBooking = new BookingDTO();
    BookingDTO _book = new BookingDTO();

    private static readonly HttpClient client = new HttpClient();

    protected override async Task OnInitializedAsync()
    {

        try
        {
            _users = await HttpClient.GetFromJsonAsync<List<AppUser>>(APIEndpoints.s_users);

            _bookings = await HttpClient.GetFromJsonAsync<List<Booking>>(APIEndpoints.s_bookings);

            HttpResponseMessage response = await HttpClient.GetAsync(APIEndpoints.s_cars);

            _cars = await response.Content.ReadFromJsonAsync<List<Car>>();

            _user = await GetUser();

            ThisBooking = GetBooking();

            _car = GetCar(ThisBooking.CarId);

            elapsed = GetCost();

            _cost = Math.Round(_car.PricePerUnit * elapsed.TotalMinutes, 2);


        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.InnerException);
        }

        if (await LocalStorageService.ContainKeyAsync("bearerToken"))
        {
            string savedToken = await LocalStorageService.GetItemAsync<string>("bearerToken");

            Console.WriteLine(savedToken);

            await ((AppAuthenticationStateProvider)AuthenticationStateProvider).SignIn();

            HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", savedToken);

            StateHasChanged();
        }

    }

    private async Task EndBooking()
    {

        _attemptingToUpdate = true;

        try
        {

            elapsed = GetCost();
            _cost = Math.Round(_car.PricePerUnit * elapsed.TotalMinutes, 2);
            ThisBooking.Cost = _cost;

        }
        catch (Exception ex)
        {

        }

        if (HttpClient != null)
        {
            HttpResponseMessage response = await HttpClient.PutAsJsonAsync<BookingDTO>($"{APIEndpoints.s_bookings}/{ThisBooking.BookingDTOId}", ThisBooking);

            if (response.StatusCode == HttpStatusCode.Created)
            {
                _attemptingToUpdate = false;
                _updateSuccessful = true;
                NavigationManager.NavigateTo($"/receipt/{ThisBooking.BookingDTOId}");

            }
            else
            {
                _attemptToUpdateFailed = true;
            }
        }
    }

    private async Task<AppUser> GetUser()
    {

        AppUser _user = new AppUser();
        if (_users != null)
        {
            var user2 = (await AuthenticationState).User;

            _user = _users.Where(m => m.Email == user2.Identity.Name).FirstOrDefault();

        }

        return _user;
    }

    private Car GetCar(int id)
    {
        Car _car = new Car();

        if (_cars != null)
        {
            _car = _cars.Where(m => m.CarId == id).FirstOrDefault();
        }
        return _car;
    }

    private BookingDTO GetBooking()
    {


        if (_bookings != null)
        {
            foreach (var i in _bookings)
            {

                if (i.UserEmail.ToUpper() == _user.UserName.ToUpper() && i.IsComplete != true)
                {

                    _book.BookingDTOId = i.BookingId;
                    _book.CarId = i.CarId;
                    _book.IsCreated = i.IsCreated;
                    _book.StartTime = i.StartTime;
                    _book.UserEmail = i.UserEmail;
                    _book.Location = i.Location;
                    _book.IsComplete = true;

                }
            }
        }
        return _book;
    }

    public TimeSpan GetCost()
    {
        DateTime _dObject = new DateTime();
        DateTime currentDate = new DateTime();


        _dObject = Convert.ToDateTime(ThisBooking.StartTime);
        currentDate = DateTime.Now;
        long elapsedTicks = currentDate.Ticks - _dObject.Ticks;
        TimeSpan elapsedSpan = new TimeSpan(elapsedTicks);

        return elapsedSpan;

    }

    public void Dispose()
    {

        InMemoryDatabaseCache.OnCategoriesDataChanged -= StateHasChanged;

    }

}
