@page "/register"
@using System.Net;
@using Client.Components.Public.Warp
@using Client.Services
@using System.Net.Http.Json;
@using global::Shared.Models;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.IdentityModel.Tokens;
@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@using System.Text;


	 <Client.Components.Public.Shared.NavB></Client.Components.Public.Shared.NavB>

		<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
   
      <!-- partial:partials/_navbar.html -->
      <div>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

           <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
         
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
     	<div class="row g-0">
					<div class="col">

						

						
						
							<EditForm Model="_userToCreate1" OnValidSubmit="CreateUser">
								<DataAnnotationsValidator />

							

                        
					<div class="form-group my-3">
						<label for="email">Email address</label>
						<InputText @bind-Value="_userToCreate1.EmailAddress" id="email" class="form-control" />
						<ValidationMessage For="@(() => _userToCreate1.EmailAddress)" />
					</div>
                    <div class="form-group my-3">
						<label for="first">First Name</label>
						<InputText @bind-Value="_userToCreate1.FirstName" id="first" class="form-control" />
						<ValidationMessage For="@(() => _userToCreate1.FirstName)" />
					</div>
                    <div class="form-group my-3">
						<label for="last">Last Name</label>
						<InputText @bind-Value="_userToCreate1.LastName" id="last" class="form-control" />
						<ValidationMessage For="@(() => _userToCreate1.LastName)" />
					</div>

					<div class="form-group my-3">
						<label for="password">Password</label>
						<InputText @bind-Value="_userToCreate1.Password" id="password" type="password" class="form-control" />
						<ValidationMessage For="@(() => _userToCreate1.Password)" />
					</div>
                        
                    <div class="form-group my-3">
						<label for="phonenumber">Phone Number</label>
						<InputText @bind-Value="_userToCreate1.PhoneNumber" id="phonenumber" class="form-control" />
						<ValidationMessage For="@(() => _userToCreate1.PhoneNumber)" />
					</div>

                       <!-- partial 
                    <div class="form-group my-3">
						<label for="dob">Date Of Birth</label>
						<InputDate @bind-Value="_userToCreate1.Dob" id="dob" class="form-control" />
						<ValidationMessage For="@(() => _userToCreate1.Dob)" />
					</div>-->

						
								<ValidationSummary />

								<button class="btn btn-success shadow d-block mt-5 md-f-size-1-5" type="submit">
									<i class="far fa-save"></i> Register
								</button>

							</EditForm>
						

				
					</div>
				</div>
       
  
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div> 
    <!-- End custom js for this page -->
  </body>
</html>
		

@code
{
    [Inject] InMemoryDatabaseCache InMemoryDatabaseCache { get; set; }
    [Inject] IJSRuntime JSRuntime { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (InMemoryDatabaseCache.Cars == null)
            {
                await InMemoryDatabaseCache.GetCarsFromDatabaseAndCache();
                StateHasChanged();
            }


        }
    }

    [Inject] HttpClient HttpClient { get; set; }
    private CarDTO _carToCreate = new CarDTO() {  };
    private UserDTO _userToCreate1 = new UserDTO() { };
    
    private bool _attemptingToCreate = false;
	private bool _attemptToCreateFailed = false;
	private bool _createSuccessful = false;
	private async Task CreateUser()
	{
		_attemptingToCreate = true;


		HttpResponseMessage response = await HttpClient.PostAsJsonAsync<UserDTO>(APIEndpoints.s_userRegister, _userToCreate1);

        
		

		if (response.StatusCode == HttpStatusCode.Created)
		{
			

			_createSuccessful = true;
		}
		else
		{
			_attemptToCreateFailed = true;
		}

		_attemptingToCreate = false;
	}

	}
}